/.classpath
/.idea/
/.idea_modules/
*.iml
/.project
/.settings/
/lib_managed/
/target/
/submission/
/bin/
/out/
/lib/
/build/
/.gradle/
/mongopoc-shared/build/
/mongopoc-dataaccess-api/build/
/mongopoc-domain/build/
/mongopoc-dataaccess-mongodb-driver/build/
/mongopoc-dataaccess-jongo/build/
/mongopoc-dataaccess-spring-data-mongodb/build/
/mongopoc-dataaccess-morphia/build/

